{ :layout "default" }

<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <%= page.getSection("Header") %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="container w">
  <div class="row centered">
    <br><br>
    <div class="col-lg-4">
      <i class="fa fa-heart"></i>
      <%= getPage("_site_src/home_features.edn").getSection("Design")%>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-laptop"></i>
      <%= getPage("_site_src/home_features.edn").getSection("Bootstrap")%>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-trophy"></i>
      <%= getPage("_site_src/home_features.edn").getSection("Support")%>
    </div><!-- col-lg-4 -->
  </div><!-- row -->
  <br>
  <br>
</div><!-- container -->


<!-- PORTFOLIO SECTION -->
<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>LATEST WORKS</h4>
      <br>
      <div class="col-lg-4">
	<div class="tilt">
	  <a href="#"><img src="assets/img/p01.png" alt=""></a>
	</div>
      </div>

      <div class="col-lg-4">
	<div class="tilt">
	  <a href="#"><img src="assets/img/p03.png" alt=""></a>
	</div>
      </div>

      <div class="col-lg-4">
	<div class="tilt">
	  <a href="#"><img src="assets/img/p02.png" alt=""></a>
	</div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- DG -->


<!-- FEATURE SECTION -->
<div class="container wb">
  <div class="row centered">
    <br><br>
    <div class="col-lg-8 col-lg-offset-2">
      <%= page.getSection("Design Statement") %>
      <p><br/><br/></p>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-10 col-lg-offset-1">
      <img class="img-responsive" src="assets/img/munter.png" alt="">
    </div>
  </div><!-- row -->
</div><!-- container -->


<div id="lg">
  <div class="container">
    <div class="row centered">
      <h4>OUR AWESOME CLIENTS</h4>
      <div class="col-lg-2 col-lg-offset-1">
	<img src="assets/img/c01.gif" alt="">
      </div>
      <div class="col-lg-2">
	<img src="assets/img/c02.gif" alt="">
      </div>
      <div class="col-lg-2">
	<img src="assets/img/c03.gif" alt="">
      </div>
      <div class="col-lg-2">
	<img src="assets/img/c04.gif" alt="">
      </div>
      <div class="col-lg-2">
	<img src="assets/img/c05.gif" alt="">
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- dg -->


<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <%= page.getSection("Brand Statement") %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><! -- r wrap -->
