{:published false, :title "Home Brand Statement", :items ({:content "We believe ideas come from everyone, everywhere. At BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.", :type :markdown, :id "60a4b5c2-16f0-4e9c-ae09-19cf2e36aaca"}), :layout "default"}




